name: Backend + Frontend CI/CD

on:
  workflow_call:
    inputs:
      version:
        description: "Release version"
        required: true
        type: string
      create-executables:
        description: "Whether to build on-premises executables"
        required: true
        type: boolean
    secrets:
      SCW_ACCESS_KEY_ID:
        description: "Scaleway access key ID"
        required: false
      SCW_SECRET_KEY:
        description: "Scaleway secret key"
        required: false
      MAPBOX_PUBLIC_ACCESS_TOKEN:
        description: "Mapbox public token"
        required: true
      MINIO_USERNAME:
        description: "MinIO username"
        required: true
      MINIO_PASSWORD:
        description: "MinIO password"
        required: true
      DATABASE_USERNAME:
        description: "Database username"
        required: true
      DATABASE_PASSWORD:
        description: "Database password"
        required: true
      BACKEND_SECUTIRY_SECRET:
        description: "Backend security secret"
        required: true
      KUBE_CONFIG:
        description: "Kubernetes config (base64)"
        required: true

env:
  CI: true

jobs:
  build-backend:
    name: Build Backend
    uses: ./.github/workflows/build-backend.yml
    with:
      version: ${{ inputs.version }}

  build-frontend:
    name: Build Frontend
    uses: ./.github/workflows/build-frontend.yml
    with:
      version: ${{ inputs.version }}
    secrets:
      MAPBOX_PUBLIC_ACCESS_TOKEN: ${{ secrets.MAPBOX_PUBLIC_ACCESS_TOKEN }}

  deploy-k8s-infrastructure:
    name: Deploy Infrastructure
    needs:
      - build-backend
      - build-frontend
    permissions:
      contents: read
      packages: read
      pull-requests: write
    uses: ./.github/workflows/infrastructure.yml
    secrets:
      SCW_ACCESS_KEY_ID: ${{ secrets.SCW_ACCESS_KEY_ID }}
      SCW_SECRET_KEY: ${{ secrets.SCW_SECRET_KEY }}
      MAPBOX_PUBLIC_ACCESS_TOKEN: ${{ secrets.MAPBOX_PUBLIC_ACCESS_TOKEN }}
      MINIO_USERNAME: ${{ secrets.MINIO_USERNAME }}
      MINIO_PASSWORD: ${{ secrets.MINIO_PASSWORD }}
      DATABASE_USERNAME: ${{ secrets.DATABASE_USERNAME }}
      DATABASE_PASSWORD: ${{ secrets.DATABASE_PASSWORD }}
      BACKEND_SECUTIRY_SECRET: ${{ secrets.BACKEND_SECUTIRY_SECRET }}
      KUBE_CONFIG: ${{ secrets.KUBE_CONFIG }}

  build-backend-on-premises:
    name: Build Backend On-Premises
    if: inputs.create-executables
    needs:
      - build-frontend
    uses: ./.github/workflows/build-backend-on-premises.yml
    with:
      version: ${{ inputs.version }}
